:q{% extends "base.html" %}

{% load static %}
{% block alerta %}
{% endblock %}
{% block cabecalho %}
<div class="jumbotron">
  <div class="container">
    <div class="media">
      <img src="{% static "app_estoque/logo.png" %}" class="rounded float-left" alt="..."><br>
    </div>
    <h1 class="display-3">Controle de Estoque</h1>
    <p>Sistema para gestão de entrada e saida de produto copa e limpeza do estoque</p>
    <p><Faça seu Login</p>
    <p>
      {% if user.is_authenticated %}
        <p>seja bem vindo, {{user.username}}

      {% else %}

      <form method="POST">
          {% csrf_token %}
          <!-- usando api form, nesse caso o form não sera uma tabela e sim componente <p> -->
          {{ form.as_p}}
          <button type="submit">Login</button>
          <a href="{% url 'password_reset' %}">esqueceu seu password</a>
      </form>  

      {% endif %}
       
      <strong>total de usuarios registrados: </strong>  {{count }}
    </p>
  </div>
</div>
{% endblock %}