{% extends "base.html" %}

{% block alerta %}
    {{ operacao}} de produtos

{% endblock %}

{% block col-esquerda%}
  <form action="{% url 'estoque' operacao=operacao %}" method="post">
  {% csrf_token %}

    <h3>{{ operacao|upper }} de Produto </h3>
    <table class="table table-bordered" >
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Produto</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        {% for item in produtos %}
        <tr>
          <th scope="row"><input type="text" readonly size="5" maxlength="3" name="item" id="item{{ forloop.counter }}" value="{{item.id}}"></td>
          <td><label for="item{{ forloop.counter }}">{{ item.item_text }}</label></td>
          <td><input type="number" min="0" max="50" name="f_qtd" id="item{{ forloop.counter }}" size="3" value="0" ></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <!-- data: <input type="date" name="data" value={% now "d/M/y" %}> -->
    data: <input type="text" autocomplete="off" id="datepicker_data" name="data" value="">
    <input type="submit" value="inserir">
    </form>

{% endblock %}

{% block col-direita %}
    <h3>Ultimas {{operacao}}</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Data</td>
          <th scope="col">Produto</td>
          <th scope="col">Qtd</td>
          <th scope="col">Situacao</td>
          <th scope="col"></td>
        </tr>
      </thead>
      <tbody>
        {% for latest_itens in latest  %}
        <tr>
          <td>{{latest_itens.data|date:"d M y"}}</td>
          <td>{{latest_itens.produto}}</td>
          <td>{{latest_itens.qtd}}</td>
          <td>{{latest_itens.situacao}}</td>
          <td> <a href="{% url 'remover' item=latest_itens.id pag_saida=operacao %}">remover</a> {{latest_itens.id}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
