<!doctype html>
{% extends "base.html" %}

  
{% block alerta %}
    Historico de entrada e saida por item no estoque
{% endblock %}

{% block col-esquerda %}



<form class="" action="" method="POST">
  {% csrf_token %}

<select name="f_item" id="select_cod">

  {% for produto in produtos %}
    <option name="f_item" value={{produto.id}}>{{produto.item_text}}</option>
  {% endfor %}
</select>
<br>
  data inicial: <input type="text" maxlength="10" autocomplete="off" id="datepicker_inicial" name="f_data_inicial" value=""><br>
  data   final  : <input type="text" maxlength="10" autocomplete="off" id="datepicker_final" name="f_data_final"   value="">
  <input type="submit" name="" value="Pesquisar"><br>
<a href="{% url 'estoque_detalhe' id_produto=0 %}">Listar todos registros </a>
  
</form><br>
<div class="table-responsive-sm">
  <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col" align="left">Qtd</th>
      <th scope="col" >Produto</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {% for item in estoque %}
    <tr>
      <td>{{ item.data|date:"d M y"}}</td>
      <td>{{ item.qtd }}</td>
      <td id="th_produto" >{{ item.produto}}</td>
      <td> <a class="btn btn-danger btn-sm" href="{% url 'remover' item=item.id pag_saida='estoque_detalhe' %}">remover</a> </td>
    </tr>
    {% endfor %}
  </tbody>
    <tr>
      <td>Total</td>
      <td colspan="2">{{total}}</td>
    </tr>
  </table>

</div>

<script>
    console.log(document.getElementById("th_produto").innerHTML)

    if (! document.getElementById("th_produto").innerHTML){
      alert("NAO TEM NADA EM ESTOQUE")
    } 
    
</script>


{% endblock %}


