<!doctype html>
{% extends "base.html" %}

<style media="screen">
  table, th, td {border: 1px solid #000;}
  th, td {padding: 5px;}
</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movimentacao de estoque</title>
  
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  


{% block alerta %}
    Historico de entrada e saida por item no estoque
{% endblock %}

{% block col-esquerda %}


<form class="" action="" method="POST">
  {% csrf_token %}

  codigo <input type="text" required="yes" size="4" maxlength="3" name="f_item" value=""> 
  data inicial: <input type="text" autocomplete="off" id="datepicker_inicial" name="f_data_inicial" value="">
  data final:   <input type="text" autocomplete="off" id="datepicker_final" name="f_data_final"   value="">
  <input type="submit" name="" value="Pesquisar">

  
</form><br>
<table>
  <tr>
    <td>Data</td>
    <td>Qtd</td>
    <td>Produto</td>
    <td></td>
  </tr>
  {% for item in estoque %}
  <tr>
    <td>{{ item.data|date:"d M y"}}</td>
    <td>{{ item.qtd }}</td>
    <td>{{ item.produto}}</td>
    <td> <a href="{% url 'remover' item=item.id pag_saida='estoque_detalhe' %}">remover</a> </td>
  </tr>
  {% endfor %}
  <tr>
    <td>Total</td>
    <td colspan="2">{{total}}</td>
  </tr>
</table>
{% endblock %}
