{% extends "base.html" %}
{% load static %}
{% block alerta %}
{% endblock %}
{% block cabecalho %}
<div class="jumbotron">
  <div class="container">
    <div class="media">
      <img src="{% static "app_estoque/logo.png" %}" class="rounded float-left" alt="..."><br>
    </div>
    <h1 class="display-3">Controle de Estoque</h1>
    <p>Sistema para gestão de entrada e saida de produto copa e limpeza do estoque</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
{% endblock %}
