{% extends "base.html" %}

{% block alerta %}Lista do Estoque{% endblock %}

{% block col-esquerda %}
<p><a class="btn btn-primary" href="{% url 'lista_compra' compra="True" %}" role="button">Lista de Compras&raquo;</a></p>
<div class="table-responsive-sm">
  <table class="table">

    <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nome</th>
      <th scope="col">Atual</th>
      <th scope="col">mínimo</th>
      <th scope="col">comprar</th>
      <th scope="col"> </th>
      <th scope="col"> </th>
    </tr>
    </thead>
    <tbody>

    {% for item in produtos %}
    <tr>
      <td align="center"><a href="{% url 'cadastro_edicao' id_produto=item.id %}">{{ item.id }}</a></td>
      <td>{{ item.item_text |upper }}</td>
      <td align="center">{{ dic_produtos|dicKey:item.item_text}}</td>
      <td align="center">{{ item.min_estoque }} </td>
      <td align="center">{{ dic_produtos|dicKey1:item.item_text}} </td>
      <td><a class="btn btn-primary btn-sm" href="{% url 'estoque_detalhe' id_produto=item.id %}" role="button">Historico</a></td>
      <td><a class="btn btn-danger btn-sm"  href="{% url 'remover_produto' id_produto=item.id %}"  role="button">Remover</a></td>
    </tr>

    {% endfor %}
    </tbody>
  </table>
{% endblock %}
</div>

{% block col-direita %}{% endblock %}
