<title>Estoque</title>
<style media="screen">
  table, th, td {border: 1px solid #000;}
  th, td {padding: 5px;}
</style>
<h1>Lista do Estoque</h1>
<p><a href="{% url 'lista_compra' %}">Lista de compra</a></p>
<table>
  <tr>
    <td></td>
    <th colspan="3" align="center">ESTOQUE</th>
  </tr>
  <tr>
    <th>Produto</th>
    <th>Atual</th>
    <th>mínimo</th>
    <th>comprar</th>
    
    </tr>
{% load mathfilters %}
{% for item in produtos %}
  <tr>
    <td>{{ item.item_text }}</td>
    <td align="center">{{ item.total_estoque}}</td>
    <td align="center">{{ item.min_estoque}}</td>
    <td align="center">{{ item.min_estoque|sub:item.total_estoque }}</td>
    <td><a href="{%url 'estoque_detalhe' id_produto=item.id %}">historico</a></td>
  </tr>
{% endfor %}
</table>
<br>
<a href="{% url 'index' %}">VOLTAR MENU</a>
